pybind11
numpy>=1.13
future>=0.15
matplotlib>=2.2.2
astropy==2.0
pandas>=0.20
scikit-learn==0.19.2
corner
git+git://github.com/jiwoncpark/lenspop.git@master#egg=lenspop
git+git://github.com/jiwoncpark/om10.git@master#egg=om10
galsim
